In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [9]:
# Load the three csv files as df
calendar = pd.read_csv('calendar.csv')
listings = pd.read_csv('listings.csv', index_col = 'id')
reviews = pd.read_csv('reviews.csv')

In [5]:
print(calendar.shape)
calendar.head()

(1393570, 4)

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [11]:
print(listings.shape)
listings.head(1)

(3818, 91)

,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07

In [15]:
print(reviews.shape)
reviews.head()

(84849, 6)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

<div class="alert alert-block alert-info">
<b>So far</b> we looked at the shape of the dataframes. Now let's check the number of null values in each column of each file. If there are too many null values we can consider dropping the columns to simplify the df.
</div>

In [22]:
print('calendar')
print('Number of rows: ' + str(calendar.shape[0]))
print('Percentage of null values: ')
calendar.isnull().sum() / calendar.shape[0]

calendar
Number of rows: 1393570
Percentage of null values:

listing_id    0.00000
date          0.00000
available     0.00000
price         0.32939
dtype: float64

In [70]:
# Write a function to display null rate as a df
from IPython.display import display
def display_nullrate(df):
    null_lis = df.isnull().sum() / df.shape[0]
    null_lis = null_lis.to_frame()
    null_lis.index.name = "col_name"
    null_lis.reset_index(inplace = True)
    null_lis = null_lis.rename(columns = {0: 'null_rate'})
    output = null_lis.style.format({'null_rate': '{:,.2%}'.format})
    display(output)

In [71]:
display_nullrate(listings)

In [72]:
display_nullrate(reviews)